a,
a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}
@media print {
  a,
  a:visited {
    border-bottom: none;
  }
}
body {
  background-color: gray;
  font-family: "Trebuchet MS";
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.page {
  display: inline-block;
  width: 8.5in;
  height: 11in;
  margin: 0 1em 1em 0;
  padding: 0.5in;
  background-color: white;
  overflow: hidden !important;
  overflow: auto;
  zoom: 1;
}
@media print {
  body {
    display: block;
    padding: 0 !important;
  }
  .page {
    margin: 0 !important;
    height: auto !important;
    min-height: 11in;
  }
}
.resume-block {
  margin-bottom: 0.5em;
}
.resume-block > h1 {
  font-family: 'Georgia';
  font-size: 120%;
  padding-bottom: 0.05em;
  margin-bottom: 0.3em;
  border-bottom: 1px solid black;
}
.resume-block > ul .thing {
  font-family: Arial;
  font-size: 80%;
}
.resume-block > ul .thing:not(:last-of-type) {
  margin-bottom: 0.5em;
}
.resume-block > ul .thing > header {
  display: flex;
  white-space: nowrap;
}
.resume-block > ul .thing > header h1 {
  order: 1;
  font-weight: bold;
  margin-bottom: 0.2em;
}
.resume-block > ul .thing > header address {
  order: 2;
}
.resume-block > ul .thing > header address:before {
  content: '\A0|\A0';
}
.resume-block > ul .thing > header time {
  order: 4;
  text-align: right;
  flex-grow: 1;
}
.resume-block > ul .thing > header .role {
  order: 3;
  text-align: center;
  flex-grow: 1337;
}
.resume-block > ul .thing section {
  line-height: 1.3em;
}
.resume-block > ul .thing section > p,
.resume-block > ul .thing section > ul {
  clear: both;
  padding-left: 3em;
}
.resume-block > ul .thing section > p h2,
.resume-block > ul .thing section > ul h2 {
  font-style: italic;
}
.resume-block > ul .thing section > p h2,
.resume-block > ul .thing section > ul h2,
.resume-block > ul .thing section > p p,
.resume-block > ul .thing section > ul p {
  display: inline;
}
.resume-block > ul .thing section > p .single-line,
.resume-block > ul .thing section > ul .single-line {
  display: block !important;
}
.resume-block > ul .thing section > p span,
.resume-block > ul .thing section > ul span {
  white-space: nowrap;
}
.resume-block > ul .thing section > ul {
  list-style: disc;
}
.lead-in {
  margin-top: -0.5em;
  display: flex;
}
.lead-in .qr-code {
  order: 2;
  width: 50px;
  height: 50px;
  margin-left: 0.2em;
  background-image: url("assets/itzwarty.github.io_resume_qr.png");
  background-size: contain;
}
@media not print {
  .lead-in .qr-code {
    display: none;
  }
}
.lead-in .contents {
  flex: 1;
}
.lead-in .contents h1 {
  display: block;
  font-size: 200%;
}
.lead-in .contents nav {
  line-height: 1em;
}
.lead-in .contents nav a {
  margin-right: 0.3em;
}
.lead-in .contents nav a.icon:before {
  content: "\a0";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.1em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.lead-in .contents nav a.github:before {
  background-image: url("assets/gh-favicon.ico");
}
.lead-in .contents nav a.email:before {
  background-image: url("assets/email.gif");
}
.lead-in .contents nav a.linkedin:before {
  background-image: url("assets/linkedin-logo.png");
}
.lead-in .contents nav a.phone:before {
  background-image: url("assets/phone-icon.jpg");
}
@media only screen and (max-width: 9.7in) and (min-width: 8.7in) {
  body {
    display: block !important;
    padding: 0 !important;
    text-align: center;
  }
  .page {
    margin-right: 0 !important;
    text-align: left;
  }
}
@media only screen and (max-width: 8.7in) {
  body {
    background-color: white !important;
    display: block !important;
    padding: 0 !important;
  }
  .page {
    padding: 0 0.3in !important;
    margin: 0;
    width: auto !important;
    min-width: 100%;
    height: inherit;
  }
  .page:first-of-type {
    padding-top: 0.3in !important;
  }
  .page:last-of-type {
    padding-bottom: 0.3in !important;
  }
  .thing header {
    display: block !important;
    white-space: inherit !important;
  }
  .thing header h1,
  .thing header address,
  .thing header time {
    display: inline;
    white-space: nowrap;
  }
  .thing header .role {
    display: block !important;
    text-align: left !important;
  }
  .thing address::before {
    content: " at " !important;
  }
  .thing time::before {
    content: "(";
  }
  .thing time::after {
    content: ")";
  }
  .thing .role {
    display: block;
    clear: left;
  }
}
@-moz-document url-prefix() {
  .thing:not(:last-of-type) {
    margin-bottom: 0.3em !important;
  }
  .thing section {
    line-height: inherit !important;
  }
}
