@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao7CIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v14/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
.emoji::after {
  display: inline;
  content: '\FE0E';
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
}
@media print {
  a,
  a:visited {
    border-bottom: none;
  }
}
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  background-color: gray;
  font-family: 'Courier New';
  padding: 1em;
  display: flex;
  min-height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -1em;
  margin-right: -1em;
}
.page {
  flex-direction: column;
  justify-content: space-between;
  width: 8.5in;
  height: 11in;
  margin-top: 1em;
  margin-right: 1em;
  padding: 0.5in;
  color: #222222;
  background-color: white;
  overflow: hidden !important;
  overflow: auto;
  zoom: 1;
}
.page:not(#debug_page) {
  display: flex;
}
@media print {
  @page {
    size: auto;
    margin: 0mm;
  }
  body {
    display: block;
    padding: 0 !important;
    margin: 0 !important;
  }
  .page {
    margin: 0 !important;
    height: auto !important;
    min-height: 11in;
    color: inherit !important;
  }
}
.resume-block {
  font-size: 110% !important;
}
.resume-block:last-child {
  margin-bottom: -0.2em;
}
.resume-block > h1 {
  font-size: 100%;
  font-family: Arial;
  padding-bottom: 0.05em;
  margin-bottom: 0.3em;
  border-bottom: 1px solid black;
}
.resume-block > ul .thing {
  font-size: 80%;
}
.resume-block > ul .thing:not(:last-of-type) {
  margin-bottom: 0.4em;
}
.resume-block > ul .thing > header {
  display: flex;
  font-family: 'Arial';
  white-space: nowrap;
}
.resume-block > ul .thing > header h1 {
  order: 1;
  margin-bottom: 0.2em;
  font-weight: bold;
}
.resume-block > ul .thing > header address {
  order: 3;
  flex-grow: 1 1 auto;
  font-style: normal;
  text-align: left;
  display: none;
}
.resume-block > ul .thing > header address:before {
  font-style: normal;
  content: '\A0|\A0';
  display: inline;
}
.resume-block > ul .thing > header time {
  order: 4;
  flex-grow: 1;
  font-size: 80%;
  opacity: 0.8;
  text-align: right;
  margin-top: 0.3em;
}
.resume-block > ul .thing > header .role {
  order: 2;
  flex-grow: 1 1 auto;
  font-style: italic;
  text-align: left;
}
.resume-block > ul .thing > header .role:before {
  font-style: normal;
  font-weight: bold;
  content: ':\A0';
  display: inline;
}
.resume-block > ul .thing section {
  position: relative;
  font-family: 'Source Sans Pro';
  font-size: 90%;
  line-height: 1.35em;
  padding-right: 0%;
}
.resume-block > ul .thing section > p,
.resume-block > ul .thing section > ul {
  clear: both;
  padding-left: 1.9em;
  padding-right: 0.5em;
}
.resume-block > ul .thing section > p .single-line,
.resume-block > ul .thing section > ul .single-line {
  display: block !important;
}
.resume-block > ul .thing section > p span,
.resume-block > ul .thing section > ul span {
  white-space: nowrap;
}
.resume-block > ul .thing section > p span.invis,
.resume-block > ul .thing section > ul span.invis {
  font-size: 0;
  line-height: 0;
}
.resume-block > ul .thing section > p span.tech-list,
.resume-block > ul .thing section > ul span.tech-list {
  word-spacing: -0.05em;
}
.resume-block > ul .thing section ul {
  display: block;
}
.resume-block > ul .thing section ul li {
  line-height: 1.35em;
}
.resume-block > ul .thing section ul li:before {
  display: block;
  float: left;
  width: 0px;
  margin-left: -1em;
  padding-right: 1em;
  content: '\25AA';
}
.resume-block > ul .thing section ul li.star:before {
  content: '\272d' !important;
  margin-left: -1.22em;
}
.resume-block > ul .thing section ul li:not(:last-of-type) {
  margin-bottom: 0.15em;
}
.resume-block > ul .thing section ul li > h2 {
  font-family: "Verdana";
  font-size: 8pt;
  font-style: italic;
  white-space: nowrap;
  display: inline;
}
.resume-block > ul .thing section ul li > p {
  display: inline-block;
}
.resume-block > ul .thing section ul li > ul {
  margin-left: 1.3em;
  margin-top: 0.075em;
}
.resume-block > ul .thing section ul li > ul li {
  line-height: 1.25em;
}
.resume-block > ul .thing section ul li > ul li:before {
  content: '\203A';
}
.resume-block > ul .thing section .hack-right {
  position: absolute;
  top: 0;
  right: 0;
}
.resume-block > ul .thing.compact:not(:last-of-type) {
  margin-bottom: 0.35em;
}
.resume-block > ul .thing.compact section li {
  margin-top: -0.125em;
}
.lead-in {
  position: relative;
  display: flex;
  margin-bottom: -0.05in;
  flex-direction: column;
}
.lead-in .qr-code {
  position: absolute;
  right: 0;
  width: 0.52in;
  height: 0.52in;
  box-sizing: border-box;
  background-image: url("assets/miyu.github.io_resume_qr.png");
  background-size: contain;
}
.lead-in .contents {
  flex: 1;
  align-items: stretch;
}
.lead-in .contents > * {
  display: inline-block !important;
}
.lead-in .contents h1 {
  margin-left: -0.02em;
  margin-top: -0.2em;
  font-family: 'Arial';
  font-size: 200%;
}
.lead-in .contents nav {
  font-family: 'Calibri';
  font-size: 50%;
  position: relative;
  top: -0.05em;
}
.lead-in .contents nav a .hack-small-space {
  font-size: 50%;
}
.lead-in .contents nav a {
  white-space: nowrap;
}
.lead-in .contents nav a:not(:last-of-type) {
  margin-right: 0.3em;
}
.lead-in .contents nav a.icon:before {
  content: "\a0";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.1em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.lead-in .contents nav a.github:before {
  background-image: url("assets/gh-favicon.ico");
}
.lead-in .contents nav a.email:before {
  background-image: url("assets/email.gif");
}
.lead-in .contents nav a.linkedin:before {
  background-image: url("assets/linkedin-logo.png");
}
.lead-in .contents nav a.phone:before {
  background-image: url("assets/phone-icon.jpg");
}
@media only screen and (max-width: 9.7in) and (min-width: 8.7in) {
  body {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
  }
  .page {
    margin-right: 0 !important;
    text-align: left;
  }
}
@media only screen and (max-width: 8.7in) {
  body {
    background-color: white !important;
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .lead-in nav {
    line-height: 1.35em !important;
  }
  .page {
    display: block;
    padding: 0 0.3in !important;
    margin: 0;
    width: 100% !important;
    min-width: 280px !important;
    height: inherit;
  }
  .page:first-of-type {
    padding-top: 0.3in !important;
  }
  .page:last-of-type {
    padding-bottom: 0.3in !important;
  }
  .resume-block {
    margin-bottom: 0.7em;
  }
  .thing:not(:last-child) {
    margin-bottom: 1.5em !important;
  }
  .thing header {
    display: inline !important;
    white-space: inherit !important;
    margin-bottom: 0.3em;
    line-height: 1.35em;
  }
  .thing header h1,
  .thing header address,
  .thing header time {
    display: inline;
    white-space: nowrap;
  }
  .thing header .role {
    display: inline !important;
    text-align: left !important;
  }
  .thing address::before {
    content: " at " !important;
  }
  .thing address.online {
    background-color: red;
    display: none;
  }
  .thing time::before {
    content: "(";
  }
  .thing time::after {
    content: ")";
  }
  .thing .role {
    clear: left;
    font-weight: inherit !important;
    padding: 0.5em 0 0 0;
  }
  .thing .role:before {
    content: "\0A" !important;
    white-space: pre;
  }
  .thing section > ul li:not(:last-of-type) {
    margin-bottom: 0.3em;
  }
  .thing section li {
    display: block !important;
  }
  .thing section li:before {
    position: absolute !important;
  }
  .thing section li h2 {
    display: inline !important;
  }
  .thing section .hack-right {
    position: static !important;
    float: none !important;
    display: block !important;
    padding-left: 2em;
  }
}
@-moz-document url-prefix() {
  .thing:not(:last-of-type) {
    margin-bottom: 1em !important;
  }
}
_:-ms-lang(x) .thing:not(:last-of-type),
_:-webkit-full-screen .thing:not(:last-of-type),
body .thing:not(:last-of-type) {
  margin-bottom: 1.1em !important;
}
